<footer class="container-fluid">
    <div class="footerMenu col-lg-7">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/images">Images</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Edwin_Hubble">Edwin Hubble</a></li>
          <li><p id="credits" >Made By DigitalBrainz - Copyright {{getCurrentYear}}</p></li>
      </ul>
      <ul>
          <li><a href="https://www.nasa.gov/content/latest-hubble-news">Hubble News</a></li>
          <li><a  href="https://www.nasa.gov/mission_pages/hubble/science/index.html#.Wac-0MgjFPY">Hubble Science</a></li>
          <li><a href="https://www.nasa.gov/jpl/spitzer/pia19333/map-of-exoplanets-found-in-our-galaxy">Map of Exoplanets</a></li>
      </ul>
      <ul>
          <li><a href="http://www.astronomyforum.net/activity.php">Astronomy Forum</a></li>
          <li><a href="https://www.nasa.gov/audience/forstudents/postsecondary/features/F_NASA_Great_Observatories_PS.html">Space Observatories</a></li>
      </ul>
 </div>
   <div id="hub">
     <a href="http://hubblesite.org/" title="Hubblesite.org"><img src="hubbleLogo3.png" width="120px"></a>
  </div>
  <div class="social">
      <a href="https://www.facebook.com/hubbleESA/" title="Hubble on Facebook" ><img src="fb.png" width="40px"></a>
      <a href="https://www.instagram.com/thehubblescope/?hl=en" title="thehubblescope"><img src="insta.png" width="48px"></a>
      <a href="https://twitter.com/nasahubble?lang=en" title="@NASAHubble"><img src="tw.png" width="46px"></a>
     <a href="https://plus.google.com/+hubblespacetelescope" title="Hubble on Google Plus"><img src="gplus.png" width="46px"></a>
  </div>
</footer>
