<header class="container-fluid logoBG">
    <a href="/"><img class="logo" src="hubbleLogo4.png"></a>
    <div>
    <a href="https://www.nasa.gov/" title="NASA Official Website"><img id="nasa" src="nasaLogo.png"></a>
    </div>
</header>
