<!doctype html>

<html>
{{>head}}
	<body>
	{{>header}}
	<nav  class=" navbar-inverse">
		<div class="container-fluid">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					 </button>
			<div class="collapse navbar-collapse" id="myNavbar">
			 <ul class="nav navbar-nav">
					 <li><a href="/">Home</a></li>
					 <li><a href="/images">Images</a></li>
					 <li><a href="/video">Video</a></li>
					<li class="active dropdown">
						 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
							 Explore
								<span class="caret"></span>
						 </a>
						 <ul class="dropdown-menu">
								 <li class="active"><a href="/hubble">Hubble Essentials</a></li>
								 <li><a href="#">The Technology</a></li>
								 <li><a href="https://en.wikipedia.org/wiki/Edwin_Hubble">About Edwin Hubble</a></li>
						 </ul>
					</li>
			 </ul>
			</div>
	</div>
</nav>
     <section class="container-fluid hubble_page col-xs-12">
       <a href="hubble_page_image.jpg">
           <h4 class="col-lg-5 col-sm-5 col-xs-12">Final Release Over Earth (2009)<br/><small>Hubble drifts over Earth after its release on May 19, 2009 by the crew of the Space Shuttle Atlantis. The crew had performed all planned tasks over the course of five spacewalks, making the Servicing Mission 4, the fifth astronaut visit to the Hubble Space Telescope, an unqualified success.
           </small>
           </h4>
        </a>
      </section>
       <nav class="nav navbar-default">
          <div id="top" class="container- clear">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myMenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
            <div class="collapse navbar-collapse" id="myMenu">
             <ul class="nav navbar-nav">
                <div class="navbar-header">
                <div class="navbar-brand">
                    <strong>On this page:</strong>
                </div>
                </div>
                 <li><a href="#topic_1">Changing Astronomy</a></li>
                 <li><a href="#topic_2">Why a Space Telescope?</a></li>
                 <li><a href="#topic_3">How it Works</a></li>
                 <li><a href="#topic_4">Data on the Move</a></li>
                 <li><a href="#topic_5">First Thoughts</a></li>
                 <li><a href="#topic_6">Work Begins</a></li>
                 <li><a href="#topic_7">We Have a Problem</a></li>
                 <li><a href="#topic_8">Repair Crew</a></li>
                 <li><a href="#topic_9">A Final Visit</a></li>
                 <li><a href="#topic_10">All Good Things</a></li>
             </ul>
            </div>
        </div>
     </nav>
      <section class="container clear hub">
          <div id="topic_0" class="text box">
            <h4>OUT OF THIS WORLD<br/><br/><br/>
              <small>
              Since the earliest days of astronomy, since the time of Galileo, astronomers have shared a single goal — to see more, see farther, see deeper.<br/>
              The Hubble Space Telescope's launch in 1990 sped humanity to one of its greatest advances in that journey. Hubble is a telescope that orbits Earth. Its position above the atmosphere, which distorts and blocks the light that reaches our planet, gives it a view of the universe that typically far surpasses that of ground-based telescopes.<br/>
              Hubble is one of NASA's most successful and long-lasting science missions. It has beamed hundreds of thousands of images back to Earth, shedding light on many of the great mysteries of astronomy. Its gaze has helped determine the age of the universe, the identity of quasars, and the existence of dark energy.<br/><br/><br/>
              Orbiting the Earth for over two decades, Hubble has helped to answer some of the most compelling astronomical questions of our time – and uncovered mysteries we never knew existed. Investigating everything from black holes to planets around other stars, Hubble has changed the face of astronomy, ushering in a new chapter of humanity’s exploration of the universe.
              </small>
              <br/><br/>
              </h4>
          </div>
          <div id="topic_1"  class="text box">
              <h4>CHANGING ASTRONOMY<br/><br/><br/>
              <small>
                 <div class="thumbnail col-lg-2 col-xs-6 article_image">
                   <a href="hubble_page_image1.jpg" target="_blank">
                      <img src="hubble_page_image1.jpg" alt="Lights" style="width:100%">
                   <div class="caption">
                   <small>Hubble floats above Earth; March 2002.</small>
                   </div>
                   </a>
              </div>
              Hubble's discoveries have transformed the way scientists look at the universe. Its ability to show the universe in unprecedented detail has turned astronomical conjectures into concrete certainties. It has winnowed down the collection of theories about the universe even as it sparked new ones, clarifying the path for future astronomers.<br/>
              Among its many discoveries, Hubble has revealed the age of the universe to be about 13 to 14 billion years, much more accurate than the old range of anywhere from 10 to 20 billion years. Hubble played a key role in the discovery of dark energy, a mysterious force that causes the expansion of the universe to accelerate.<br/>
              Hubble has shown scientists galaxies in all stages of evolution, including toddler galaxies that were around when the universe was still young, helping them understand how galaxies form. It found protoplanetary disks, clumps of gas and dust around young stars that likely function as birthing grounds for new planets. It discovered that gamma-ray bursts — strange, incredibly powerful explosions of energy — occur in far-distant galaxies when massive stars collapse. And these are only a handful of its many contributions to astronomy.<br/>
              The sheer amount of astronomy based on Hubble observations has also helped make it one of history's most important observatories. More than 10,000 scientific articles have been published based on Hubble data.<br/>
              The policies that govern the telescope have contributed to its incredible productivity. The telescope is an instrument for the entire astronomical community — any astronomer in the world can submit a proposal and request time on the telescope. Teams of experts then select the observations to be performed. Once observations are completed, the astronomers have a year to pursue their work before the data is released to the entire scientific community. Because everyone gets to see the information, the observations have given rise to a multitude of findings — many in areas that would not have been predicted by the telescope’s original proposals. Hubble's success with these policies has helped spread them throughout the astronomical community, and they are becoming common with other observatories.</small>
              <br/><br/>
              <a href="#top"><p style="color:rgb(91, 154, 255);">back to top</p></a>
              </h4>
          </div>
          <div id="topic_2" class="text box">
              <h4>WHY A SPACE TELESCOPE?<br/><br/><br/>
              <small>The Hubble Space Telescope is the direct solution to a problem that telescopes have faced since the very earliest days of their invention: the atmosphere. The quandary is twofold: Shifting air pockets in Earth's atmosphere distort the view of telescopes on the ground, no matter how large or scientifically advanced those telescopes are. This "atmospheric distortion" is the reason that the stars seem to twinkle when you look up at the sky.<br/>
              The atmosphere also partially blocks or absorbs certain wavelengths of radiation, like ultraviolet, gamma- and X-rays, before they can reach Earth. Scientists can best examine an object like a star by studying it in all the types of wavelengths that it emits.<br/>
              Newer ground-based telescopes are using technological advances to try to correct atmospheric distortion, but there's no way to see the wavelengths the atmosphere prevents from even reaching the planet.<br/>
              The most effective way to avoid the problems of the atmosphere is to place your telescope beyond it. Or, in Hubble's case, 353 miles (569 km) above the surface of Earth.</small>
              <br/><br/>
              <a href="#top"><p style="color:rgb(91, 154, 255);">back to top</p></a>
              </h4>
          </div>
          <div id="topic_3" class="text box">
              <h4>HOW IT WORKS<br/><br/><br/>
              <small>Every 97 minutes, Hubble completes a spin around Earth, moving at the speed of about five miles per second (8 km per second) — fast enough to travel across the United States in about 10 minutes. As it travels, Hubble's mirror captures light and directs it into its several science instruments.<br/>
              <div class="thumbnail col-lg-2 col-xs-6 article_image">
                   <a href="hubble_page_image2(fullsize).gif" target="_blank">
                      <img src="hubble_page_image2.jpg" alt="How it works" style="width:100%">
                   <div class="caption">
                   <small>Light Path through Hubble</small>
                   </div>
                   </a>
              </div>
              Hubble is a type of telescope known as a Cassegrain reflector. Light hits the telescope's main mirror, or primary mirror. It bounces off the primary mirror and encounters a secondary mirror. The secondary mirror focuses the light through a hole in the center of the primary mirror that leads to the telescope's science instruments.<br/>
              People often mistakenly believe that a telescope's power lies in its ability to magnify objects. Telescopes actually work by collecting more light than the human eye can capture on its own. The larger a telescope's mirror, the more light it can collect, and the better its vision. Hubble's primary mirror is 94.5 inches (2.4 m) in diameter. This mirror is small compared with those of current ground-based telescopes, which can be 400 inches (1,000 cm) and up, but Hubble's location beyond the atmosphere gives it remarkable clarity.<br/>
              Once the mirror captures the light, Hubble's science instruments work together or individually to provide the observation. Each instrument is designed to examine the universe in a different way.<br/>
              The Wide Field Camera 3 (WFC3) sees three different kinds of light: near-ultraviolet, visible and near-infrared, though not simultaneously. Its resolution and field of view are much greater than that of Hubble's other instruments. WFC3 is one of Hubble's two newest instruments, and will be used to study dark energy and dark matter, the formation of individual stars and the discovery of extremely remote galaxies previously beyond Hubble's vision.<br/>
              The Cosmic Origins Spectrograph (COS), Hubble's other new instrument, is a spectrograph that sees exclusively in ultraviolet light. Spectrographs acts something like prisms, separating light from the cosmos into its component colors. This provides a wavelength "fingerprint" of the object being observed, which tells us about its temperature, chemical composition, density, and motion. COS will improve Hubble's ultraviolet sensitivity at least 10 times, and up to 70 times when observing extremely faint objects.<br/>
              The Advanced Camera for Surveys (ACS) sees visible light, and is designed to study some of the earliest activity in the universe. ACS helps map the distribution of dark matter, detects the most distant objects in the universe, searches for massive planets, and studies the evolution of clusters of galaxies. ACS partially stopped working in 2007 due to an electrical short, but was repaired during Servicing Mission 4 in May 2009.<br/>
              The Space Telescope Imaging Spectrograph (STIS) is a spectrograph that sees ultraviolet, visible and near-infrared light, and is known for its ability to hunt black holes. While COS works best with small sources of light, such as stars or quasars, STIS can map out larger objects like galaxies. STIS stopped working due to a technical failure on August 3, 2004, but was also repaired during Servicing Mission 4.<br/>
              The Near Infrared Camera and Multi-Object Spectrometer (NICMOS) is Hubble's heat sensor. Its sensitivity to infrared light — perceived by humans as heat — lets it observe objects hidden by interstellar dust, like stellar birth sites, and gaze into deepest space.<br/>
              Finally, the Fine Guidance Sensors (FGS) are devices that lock onto "guide stars" and keep Hubble pointed in the right direction. They can be used to precisely measure the distance between stars, and their relative motions.<br/>
              All of Hubble's functions are powered by sunlight. Hubble sports solar arrays that convert sunlight directly into electricity. Some of that electricity is stored in batteries that keep the telescope running when it's in Earth's shadow, blocked from the Sun's rays.
              </small>
              <br/>
              <br/>
              <a href="#top"><p style="color:rgb(91, 154, 255);">back to top</p></a>
              </h4>
          </div>
          <div id="topic_4" class="text box">
              <h4>DATA ON THE MOVE<br/><br/><br/>
              <small>
              <div class="thumbnail col-lg-2 col-xs-6 article_image">
                   <a href="hubble_page_image3.jpg" target="_blank">
                      <img src="hubble_page_image3.jpg" alt="hubble con center" style="width:100%">
                   <div class="caption">
                   <small>Hubble Control Center</small>
                   </div>
                   </a>
              </div>
              <div id="right" class="thumbnail col-lg-2 col-xs-6 article_image">
                   <a href="hubble_page_image4(fullsize).jpg" target="_blank">
                      <img src="hubble_page_image4.jpg" alt="hubble data" style="width:90%">
                   <div class="caption">
                   <small>Hubble's Data Pipeline</small>
                   </div>
                   </a>
              </div>
              A quartet of antennae on the telescope sends and receives information between Hubble and the Flight Operations Team at the Goddard Space Flight Center in Greenbelt, Md. Engineers use satellites to communicate with the telescope, giving it directions and commands. The telescope has two main computers and a number of smaller systems. One of the main computers handles the commands that point the telescope and other system-wide functions. The other talks to the instruments, receives their data, and sends it to satellites that in turn transmit it to the ground.<br/>
              Once the ground station transfers the data to Goddard, Goddard sends it to the Space Telescope Science Institute (STScI), where staff translate the data into scientifically meaningful units — such as wavelength or brightness — and archive the information on 5.25-inch magneto-optical disks. Hubble sends the archive enough information to fill about 18 DVDs every week. Astronomers can download archived data via the Internet and analyze it from anywhere in the world.<br/>
              Hundreds of engineers and computer scientists at Goddard Space Flight Center and STScI are responsible for keeping Hubble operating and monitoring its safety, health and performance. At Goddard, controllers monitor the telescope's health while they direct its movements and science activities. STScI staff also schedule use of the telescope, monitor and calibrate the instruments, operate the archive and conduct public outreach.<br/>
              Astronomers from around the world compete for time to use Hubble. More scientists want to use the telescope than there is time to use it, so a review committee of astronomy experts has to pick out the best proposals from the bunch. The winning proposals are the ones that make the best use of the telescope’s capabilities while addressing pressing astronomical questions. Each year around 1,000 proposals are reviewed and approximately 200 are selected, for a total of 20,000 individual observations.
              </small>
              <br/><br/>
              <a href="#top"><p style="color:rgb(91, 154, 255);">back to top</p></a>
              </h4>
          </div>
          <div id="topic_5" class="text box">
              <h4>FIRST THOUGHTS<br/><br/><br/>
              <small>The idea for the space telescope arose in 1923, when German scientist Hermann Oberth, one of the founders of rocketry, suggested blasting a telescope into space aboard a rocket. In 1946, Lyman Spitzer Jr., an American astrophysicist, wrote a paper proposing a space observatory. He would spend the next 50 years working to make the space telescope a reality.<br/>
              Spitzer was one of the main forces behind several of the orbiting observatories of the time, including the Copernicus satellite and the Orbiting Astronomical Observatory. His diligent advocacy helped spur NASA to approve the Large Space Telescope project in 1969. Because of budget considerations, the original proposal was downsized somewhat, decreasing the size of the telescope's mirror and the number of instruments it would carry.<br/>
              In 1974, the group working on the project suggested a telescope with a number of interchangeable instruments. They would be able to resolve at least one-tenth of an arcsecond and study wavelengths that ranged from ultraviolet to visible and infrared light. The Space Shuttle would be used to put the telescope in orbit and either return it to Earth for repairs and replacement instruments, or service it in space.<br/>
              In 1975, the European Space Agency began to work together with NASA on a plan that would eventually become the Hubble Space Telescope. In 1977, Congress approved funding for the telescope.
              </small>
              <br/><br/>
              <a href="#top"><p style="color:rgb(91, 154, 255);">back to top</p></a>
              </h4>
          </div>
          <div id="topic_6" class="text box">
              <h4>WORK BEGINS<br/><br/><br/>
              <small>
              <div class="thumbnail col-lg-2 col-xs-6 article_image">
                   <a href="hubble_page_image5(fullsize).jpg" target="_blank">
                      <img src="hubble_page_image5.jpg" alt="hubble launch" style="width:100%">
                   <div class="caption">
                   <small>The Hubble Space Telescope is launched into space aboard Space Shuttle Discovery, April 24, 1990.</small>
                   </div>
                   </a>
              </div> Shortly after Congress approved funding for the telescope, proposals for science instruments began to pour in. Five winners were chosen. Meanwhile, contractors, universities and NASA centers plunged into the effort. Marshall Space Flight Center in Huntsville, Ala., would handle design, development and construction of the telescope and its support systems. Goddard Space Flight Center would take care of the design, development and construction of the science instruments, and also perform ground control.<br/>
              The Perkin-Elmer Corporation was contracted to tackle the telescope assembly, including the mirrors and Fine Guidance Sensors, needed to point and direct the telescope. Lockheed Missiles (now Lockheed Martin) was hired to build the structure and supporting systems, put the telescope together, and test it. By 1979, astronauts were training for the mission in an underwater tank to simulate weightlessness, using a telescope mock-up.<br/>
              In 1981, the Space Telescope Science Institute was established in Baltimore, Md., to evaluate proposals for telescope time and manage the science program. The space telescope was named the Hubble Space Telescope, after American astronomer Edwin Hubble, who showed that the fuzzy patches of light in the night sky were actually other galaxies, far distant from our own, and went on to prove that the universe was expanding.<br/>
              After some delays, Hubble's launch was scheduled for October 1986. But on January 28, 1986, the Space Shuttle Challenger exploded just over a minute into its flight. Shuttle flights ceased for two years. The finished telescope parts were moved into storage. Hubble workers continued to tweak the telescope during the delay, improving the solar batteries and upgrading other systems.<br/>
              On April 24, 1990, Hubble finally launched into orbit aboard the Space Shuttle Discovery. The telescope carried five instruments: The Wide Field/Planetary Camera, the Goddard High Resolution Spectrograph, the Faint Object Camera, the Faint Object Spectrograph and the High Speed Photometer.
              </small>
              <br/><br/>
              <a href="#top"><p style="color:rgb(91, 154, 255);">back to top</p></a>
              </h4>
          </div>
          <div id="topic_7" class="text box">
              <h4>WE HAVE A PROBLEM<br/><br/><br/>
              <small>Almost immediately after Hubble went into orbit, it became clear that something was wrong. While the pictures were clearer than those of ground-based telescopes, they weren't the pristine images promised. They were blurry.<br/>
              Hubble's primary mirror, polished so carefully and lovingly over the course of a full year, had a flaw called "spherical aberration." It was just slightly the wrong shape, causing the light that bounced off the center of the mirror to focus in a different place than the light bouncing off the edge. The tiny flaw — about 1/50th the thickness of a sheet of paper — was enough to distort the view.<br/>
              Fortunately, scientists and engineers were dealing with a well-understood optical problem — although in a wholly unique situation.<br/>
              And they had a solution. A series of small mirrors could be used to intercept the light reflecting off the mirror, correct for the flaw, and bounce the light to the telescope's science instruments. The Corrective Optics Space Telescope Axial Replacement, or COSTAR, could be installed in place of one of the telescope's other instruments in order to correct the images produced by the remaining and future instruments. Astronauts would also replace the Wide Field/Planetary Camera with a new version, the Wide Field and Planetary Camera 2 (WFPC2), that contained small mirrors to correct for the aberration. This was the first of Hubble's instruments to have built-in corrective optics.<br/>
              Astronauts and NASA staff spent 11 months training for one of the most complex space missions ever attempted. In addition to the critical nature of the mission, it would be the first test of the telescope's vaunted ability to be serviced and repaired in space.
              </small>
              <br/><br/>
              <a href="#top"><p style="color:rgb(91, 154, 255);">back to top</p></a>
              </h4>
          </div>
          <div id="topic_8" class="text box">
              <h4>REPAIR CREW<br/><br/><br/>
              <small>On December 2, 1993, the Space Shuttle Endeavor carried a crew of seven into orbit for a mission that would involve five days of spacewalks and repairs.
                  <div class="thumbnail col-lg-2 col-xs-6 article_image">
                   <a href="hubble_page_image6(fullsize).jpg" target="_blank">
                      <img src="hubble_page_image6.jpg" alt="hubble repair" style="width:100%">
                   <div class="caption">
                   <small>Two astronauts installing ACS on Hubble in 2002.</small>
                   </div>
                   </a>
              </div> They removed the High Speed Photometer and replaced it with COSTAR. They replaced the original Wide Field/Planetary Camera with the newer WFPC2. They performed a host of other tasks, replacing solar panels, fuse plugs, and other hardware. By December 9, they were finished.
              <br/>
              NASA released the first new images from Hubble's fixed optics on January 13, 1994. The pictures were beautiful; their resolution, excellent. Hubble was transformed into the telescope that had been originally promised.<br/>
              Hubble would be successfully serviced and repaired several times afterwards. In February 1997, astronauts replaced the Goddard High Resolution Spectrograph and the Faint Object Spectrograph with improved instruments, the Near Infrared Camera and Multi-Object Spectrometer and the Space Telescope Imaging Spectrograph. In December 1999, they replaced a transmitter, all six gyroscopes, and one of three Fine Guidance Sensors, which allow fine pointing and keep Hubble stable during operations.<br/>
              In February 2002, astronauts added the Advanced Camera for Surveys (ACS), the first new instrument to be installed in Hubble since 1997. ACS doubled Hubble's field of view, using a much more sensitive detector than WFPC2.<br/>
              Each time astronauts performed a servicing mission, they also performed routine repair work — fixing solar panels and thermal blankets, and upgrading equipment.
              </small>
              <br/><br/>
              <a href="#top"><p style="color:rgb(91, 154, 255);">back to top</p></a>
              </h4>
          </div>
          <div id="topic_9" class="text box">
              <h4>A FINAL VISIT<br/><br/><br/>
              <small>Hubble's next servicing mission was scheduled for 2006. But on February 1, 2003, the Space Shuttle Columbia, returning from a research mission, broke apart while re-entering Earth's atmosphere.<br/>
              Shuttles were grounded. Then-NASA Administrator Sean O'Keefe called the Hubble mission off, citing the safety guidelines that had been developed following the Columbia tragedy. The next NASA Administrator, Mike Griffin, revisited the cancellation upon his appointment in 2005 and expressed support for another mission. On October 31, 2006, he announced that Hubble would be serviced again.<br/>
              Servicing Mission 4 took place in May 2009. Astronauts upgraded the telescope with the Wide Field Camera 3 and the Cosmic Origins Spectrograph, and repaired the Advanced Camera for Surveys and the Space Telescope Imaging Spectrograph. They replaced Hubble's batteries with new versions, and a Fine Guidance Sensor with a refurbished one; installed six new gyroscopes; and added new insulating panels to areas where Hubble's blankets had broken down. They replaced the Science Instrument Command and Data Handling unit (SIC&DH), which helps command the science instruments and control the flow of data within the telescope, and had suffered an electrical problem in 2008. Finally, they attached a ring-like structure that will allow a robotic module to connect itself to Hubble in the future, in order to guide the telescope through its de-orbit.<br/>
              Astronauts headed back to Earth with a special piece of removed technology: COSTAR. All of Hubble's instruments since its initial launch have been designed with built-in corrections for the flawed mirror, eventually making COSTAR unnecessary.<br/>
              Servicing Mission 4 is expected to extend Hubble's life into at least 2013. A rejuvenated telescope will continue to beam images of the heavens back to Earth, transferring about 120 gigabytes of data every week.<br/>
              Hubble's successor, the James Webb Space Telescope (JWST), is currently in the works. JWST will study objects from the earliest universe, objects whose light has "redshifted," or stretched into infrared light.<br/>
              From its orbit 940,000 miles (1.5 million km) away from Earth, JWST will unveil secrets about the birth of stars, solar systems and galaxies by peering through the dust that blocks visible light. The telescope is scheduled to launch this decade.
              </small>
              <br/><br/>
              <a href="#top"><p style="color:rgb(91, 154, 255);">back to top</p></a>
              </h4>
          </div>
          <div id="topic_10" class="text box">
              <h4>ALL GOOD THINGS<br/><br/><br/>
              <small>
              Eventually, Hubble's time will end. As the years progress,  Hubble's components will slowly degrade to the point at which the telescope stops working.<br/>
              When that happens, Hubble will continue to orbit Earth until its orbit decays, allowing it to spiral toward Earth. Though NASA originally hoped to bring Hubble back to Earth for museum display, the telescope's prolonged lifespan has placed it beyond the date for the retirement of the space shuttle program. Hubble was designed specifically to function with the space shuttle, so the replacement vehicle will likely not be able to return it to the ground. A robotic mission is expected to help de-orbit Hubble, guiding its remains through a plunge through the atmosphere and into the ocean.<br/>
              But Hubble's legacy — its discoveries, its trailblazing design, its success in showing us the universe in unparalleled detail — will live on. Scientists will rely on Hubble's revelations for years as they continue in their quest to understand the cosmos — a quest that has attained clarity, focus, and triumph through Hubble's rich existence.
              </small>
              <br/><br/>
              <a href="#top"><p style="color:rgb(91, 154, 255);">back to top</p></a>
              </h4>
          </div>
      </section>
			{{>footer}}
	</body>
</html>
