<!doctype html>

<html>
	{{>head}}
	<body>
	{{>header}}
        <nav class=" navbar-inverse">
          <div class="container-fluid">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
            <div class="collapse navbar-collapse" id="myNavbar">
             <ul class="nav navbar-nav">
                 <li><a href="/">Home</a></li>
                 <li class="active"><a href="/images">Images</a></li>
                 <li ><a href="/video">Video</a></li>
                <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Explore
                      <span class="caret"></span>
                   </a>
                   <ul class="dropdown-menu">
                       <li><a href="/hubble">Hubble Essentials</a></li>
                       <li><a href="#">The Technology</a></li>
                       <li><a href="#">About Hubble</a></li>
                   </ul>
                </li>
             </ul>
            </div>
        </div>
     </nav>
       <section class="container-fluid main_image2 col-xs-12">
       <a href="images_main2.jpg">
           <h4 class="col-lg-5 col-sm-5 col-xs-12">The Bubble Nebula (NGC 7635)<br/><small>To mark Hubble's 26th birthday, astronomers captured this party balloon-like sphere of gas being blown into space by a super-hot, massive star. The Bubble Nebula, or NGC 7635, is caused by hot gas escaping into space from a star 45 times more massive than the Sun.
           </small>
           </h4>
           </a>
       </section>
       <section class=" container-fluid clear">
       <div class="row">
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy12_full.jpg">
               <img src="image_galaxy12.jpg" alt="Trumpler 14" style="width:100%">
                <div class="caption">
                    <p>Trumpler 14</p>
                </div>
               </a>
              </div>
           </div>
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy13_full.jpg">
               <img src="image_galaxy13.jpg" alt="M101 (HST)" style="width:100%">
                <div class="caption">
                    <p>M101 (HST)</p>
                </div>
               </a>
              </div>
           </div>
          <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy14_full.jpg">
               <img src="image_galaxy14.jpg" alt="M51 (HST)" style="width:100%">
                <div class="caption">
                    <p>M51 (HST)</p>
                </div>
               </a>
              </div>
           </div>
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy15_full.jpg">
               <img src="image_galaxy15.jpg" alt="NGC 6946" style="width:100%">
                <div class="caption">
                    <p>NGC 6946 (HST, Subaru)</p>
                </div>
               </a>
              </div>
           </div>
           </div>
           <div class="row">
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy16_full.jpg">
               <img src="image_galaxy16.jpg" alt="NGC 4302" style="width:100%">
                <div class="caption">
                    <p>M83 (HST)</p>
                </div>
               </a>
              </div>
           </div>
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy17_full.jpg">
               <img src="image_galaxy17.jpg" alt="Abell 370" style="width:100%">
                <div class="caption">
                    <p>Herbig-Haro Jet HH 24</p>
                </div>
               </a>
              </div>
           </div>
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy18_full.jpg">
               <img src="image_galaxy18.jpg" alt="Jupiter" style="width:100%">
                <div class="caption">
                    <p>Hubble Frontier Field Galaxy Cluster MACS J0416.1-2403</p>
                </div>
               </a>
              </div>
           </div>
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy19_full.jpg">
               <img src="image_galaxy19.jpg" alt="Orion Nebula" style="width:100%">
                <div class="caption">
                    <p>Veil Nebula Supernova Remnant</p>
                </div>
               </a>
              </div>
           </div>
          </div>
          <div class="row">
          <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy8_full.png">
               <img src="image_galaxy8.png" alt="Supernova 1987A" style="width:100%">
                <div class="caption">
                    <p>A Multiwavelength View of Supernova 1987A</p>
                </div>
               </a>
              </div>
           </div>
            <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy9_full.jpg">
               <img src="image_galaxy9.jpg" alt="Final frontier" style="width:100%">
                <div class="caption">
                    <p>NASA's Hubble Looks to the Final Frontier</p>
                </div>
               </a>
              </div>
           </div>
            <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy10_full.jpg">
               <img src="image_galaxy10.jpg" alt="NGC 7635" style="width:100%">
                <div class="caption">
                    <p>Bubble Nebula (NGC 7635)</p>
                </div>
               </a>
              </div>
           </div>
            <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy11_full.jpg">
               <img src="image_galaxy11.jpg" alt="R136" style="width:100%">
                <div class="caption">
                    <p>Star Cluster R136</p>
                </div>
               </a>
              </div>
           </div>
       </div>
       </section>
        <section class="container-fluid pages">
           <ul class="pagination">
               <li><a href="/images">1</a></li>
               <li class="active"><a href="/images_page2">2</a></li>
          </ul>
       </section>
        {{>footer}}
	</body>
</html>
