<!doctype html>

<html>
	{{>head}}
	<body>
	{{>header}}
        <nav  class=" navbar-inverse">
          <div class="container-fluid">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
            <div class="collapse navbar-collapse" id="myNavbar">
             <ul class="nav navbar-nav">
                 <li><a href="/">Home</a></li>
                 <li class="active"><a href="/images">Images</a></li>
                 <li ><a href="/video">Video</a></li>
                <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Explore
                      <span class="caret"></span>
                   </a>
                   <ul class="dropdown-menu">
                       <li><a href="/hubble">Hubble Essentials</a></li>
                       <li><a href="#">The Technology</a></li>
                       <li><a href="#">About Hubble</a></li>
                   </ul>
                </li>
             </ul>
            </div>
        </div>
     </nav>
       <section class="container-fluid main_image col-xs-12">
       <a href="images_main.jpg">
           <h4 class="col-lg-5 col-sm-5 col-xs-12">Spiral galaxy NGC 6503<br/><small>Spiral galaxy NGC 6503 is in a lonely position, at the edge of a strangely empty patch of space called the Local Void. The Local Void is a stretch of space at least 150 million light-years across that seems completely empty of stars or galaxies. Dark dust lanes snake across the galaxy's bright arms and center, giving it a mottled appearance. Bright red patches of gas can be seen scattered through the galax's swirling arms, mixed with bright blue regions that contain newly forming stars.
           </small>
           </h4>
           </a>
       </section>
       <section class=" container-fluid clear">
       <div class="row">
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_mars_full.png">
               <img src="image_mars.png" alt="Mars" style="width:100%">
                <div class="caption">
                    <p>NASA’s Hubble Sees Martian Moon Orbiting the Red Planet</p>
                </div>
               </a>
              </div>
           </div>
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy1_full.png">
               <img src="image_galaxy1.png" alt="Cluster SDSS" style="width:100%">
                <div class="caption">
                    <p>Wide Field Image of Galaxy Cluster SDSS J1110+6459</p>
                </div>
               </a>
              </div>
           </div>
          <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy2_full.png">
               <img src="image_galaxy2.png" alt="Stein 2051" style="width:100%">
                <div class="caption">
                    <p>White Dwarf Star Stein 2051 B</p>
                </div>
               </a>
              </div>
           </div>
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy3_full.png">
               <img src="image_galaxy3.png" alt="Crab Nebula" style="width:100%">
                <div class="caption">
                    <p>Multiwavelength Crab Nebula</p>
                </div>
               </a>
              </div>
           </div>
           </div>
           <div class="row">
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy4_full.png">
               <img src="image_galaxy4.png" alt="NGC 4302" style="width:100%">
                <div class="caption">
                    <p>Spiral Galaxy Pair NGC 4302 and NGC 4298</p>
                </div>
               </a>
              </div>
           </div>
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy5_full.png">
               <img src="image_galaxy5.png" alt="Abell 370" style="width:100%">
                <div class="caption">
                    <p>Abell 370 Parallel</p>
                </div>
               </a>
              </div>
           </div>
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy6_full.png">
               <img src="image_galaxy6.png" alt="Jupiter" style="width:100%">
                <div class="caption">
                    <p>NASA's Hubble Takes Close-up Portrait of Jupiter</p>
                </div>
               </a>
              </div>
           </div>
           <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy7_full.png">
               <img src="image_galaxy7.png" alt="Orion Nebula" style="width:100%">
                <div class="caption">
                    <p>Orion Nebula</p>
                </div>
               </a>
              </div>
           </div>
          </div>
          <div class="row">
          <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy8_full.png">
               <img src="image_galaxy8.png" alt="Supernova 1987A" style="width:100%">
                <div class="caption">
                    <p>A Multiwavelength View of Supernova 1987A</p>
                </div>
               </a>
              </div>
           </div>
            <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy9_full.jpg">
               <img src="image_galaxy9.jpg" alt="Final frontier" style="width:100%">
                <div class="caption">
                    <p>NASA's Hubble Looks to the Final Frontier</p>
                </div>
               </a>
              </div>
           </div>
            <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy10_full.jpg">
               <img src="image_galaxy10.jpg" alt="NGC 7635" style="width:100%">
                <div class="caption">
                    <p>Bubble Nebula (NGC 7635)</p>
                </div>
               </a>
              </div>
           </div>
            <div class="image col-xs-12 col-sm-4 col-md-4 col-lg-2">
              <div class="tumbnail">
              <a href="image_galaxy11_full.jpg">
               <img src="image_galaxy11.jpg" alt="R136" style="width:100%">
                <div class="caption">
                    <p>Star Cluster R136</p>
                </div>
               </a>
              </div>
           </div>
       </div>
       </section>
        <section class="container-fluid pages">
           <ul class="pagination">
               <li class="active"><a href="/images">1</a></li>
               <li><a href="/images_page2">2</a></li>
          </ul>
       </section>
        {{>footer}}
	</body>
</html>
