<!doctype html>

<html>
	{{>head}}
	<body>
	{{>header}}
        <nav class=" navbar-inverse">
          <div class="container-fluid">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
            <div class="collapse navbar-collapse" id="myNavbar">
             <ul class="nav navbar-nav">
                 <li class="active"><a href="/">Home</a></li>
                 <li><a href="/images">Images</a></li>
                 <li><a href="/video">Video</a></li>
                <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Explore
                      <span class="caret"></span>
                   </a>
                   <ul class="dropdown-menu">
                       <li><a href="/hubble">Hubble Essentials</a></li>
                       <li><a href="#">The Technology</a></li>
                       <li><a href="https://en.wikipedia.org/wiki/Edwin_Hubble">About Edwin Hubble</a></li>
                   </ul>
                </li>
             </ul>
            </div>
        </div>
     </nav>
      <a class="link" href="/hubble">
      <section class="container-fluid hubble">
       <div class="text col-lg-5">
           <h1>Out of the ordinary... out of this world</h1>
           <p>Since the earliest days of astronomy, since the time of Galileo, astronomers have shared a single goal — to see more, see farther, see deeper.<br/>
           The Hubble Space Telescope's launch in 1990 sped humanity to one of its greatest advances in that journey.<br/> Hubble is a telescope that orbits Earth.<br/> Its position above the atmosphere, which distorts and blocks the light that reaches our planet, gives it a view of the universe that typically far surpasses that of ground-based telescopes.<br/>
           Hubble is one of NASA's most successful and long-lasting science missions.<br/> It has beamed hundreds of thousands of images back to Earth, shedding light on many of the great mysteries of astronomy.<br/> Its gaze has helped determine the age of the universe, the identity of quasars, and the existence of dark energy.
           </p>
       </div>
    </section>
    </a>
    <section class="container-fluid news_line">
        <h3 id="news1"><strong>LATEST NEWS:</strong></h3>
    <a href="http://hubblesite.org/news_release/news/2017-31" >
    <h3 id="news2">Hubble Detects Exoplanet with Glowing Water Atmosphere</h3>
    </a>
    </section>
    <section class="container-fluid news">
        <h3><strong>What's New with Hubble?</strong></h3>
        <div class="news_blocks row">
           <div class="col-lg-3 col-sm-5 block">
            <div class="thumbnail n_block">
                   <a href="http://earthsky.org/tonight">
                      <img src="n_block3.png">
                   <div class="caption">
                   <h4>TONIGHT'S SKY</h4>
                   </div>
                   </a>
               </div>
               <div class="under_block_text">
                    <p>Identify constellations, planets, deep-sky objects and more with our monthly guide to the heavens.</p>
               </div>
            </div>
            <div class="col-lg-3 col-sm-5 block">
              <div class="thumbnail n_block">
                   <a href="/images">
                      <img src="n_block2.png">
                   <div class="caption">
                   <h4>IMAGE GALLERY</h4>
                   </div>
                   </a>
              </div>
              <div class="under_block_text">
                    <p>Witness the most spectacular and mysterious depths of the cosmos through Hubble's eye.</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-5 block">
             <div class="thumbnail n_block">
                   <a href="http://spacetelescopelive.org/">
                      <img src="n_block1.jpg">
                   <div class="caption">
                   <h4>SPACE TELESCOPE LIVE</h4>
                   </div>
                   </a>
              </div>
              <div class="under_block_text">
                    <p>Look at what Hubble is seeing right now!</p>
              </div>
            </div>
        </div>
    </section>

    <!--carousel gallery --->

	    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
	        <ol class="carousel-indicators">
	            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	            <li data-target="#myCarousel" data-slide-to="1"></li>
	            <li data-target="#myCarousel" data-slide-to="2"></li>
	            <li data-target="#myCarousel" data-slide-to="3"></li>
	            <li data-target="#myCarousel" data-slide-to="4"></li>
	            <li data-target="#myCarousel" data-slide-to="5"></li>
	            <li data-target="#myCarousel" data-slide-to="6"></li>
	        </ol>
	        <div class="carousel-inner">
	            <div class="item active">
	                <a href="#"><img src="1.jpg" alt="Orion nebula"></a>
	                <div class="carousel-caption">
                       <h3>The Bubble Nebula </h3>
                       <p>The Bubble Nebula, or NGC 7635, is caused by hot gas escaping into space from a star 45 times more massive than the Sun.
                       </p>
                    </div>
	            </div>
	            <div class="item">
	                <a href="#"><img src="2.jpg" alt="Mystic Mountain"></a>
	                 <div class="carousel-caption">
                        <h3>Mystic Mountain</h3>
                        <p>The top of a three-light-year tall pillar of cool hydrogen is being worn away by the radiation of nearby stars, while stars within the pillar unleash jets of gas that stream from the peaks.
                        </p>
                     </div>
	            </div>
	            <div class="item">
	                <a href="#"><img src="3.jpg" alt="Supernova"></a>
	                <div class="carousel-caption">
                        <h3>Eagle Nebula</h3>
                        <p>The towering pillars are about 5 light-years tall, bathed in the blistering ultraviolet light from a group of young, massive stars located off the top of the image.
                        </p>
                     </div>
	            </div>
	            <div class="item">
	                <a href="#"><img src="4.jpg" alt="Spiral Galaxy M74"></a>
	                <div class="carousel-caption">
                        <h3>Spiral Galaxy M74</h3>
                        <p>Bright knots of glowing gas light up the arms of spiral galaxy M74, indicating a rich environment of star formation. Messier 74, also called NGC 628, is slightly smaller than our Milky Way.
                        </p>
                     </div>
	            </div>
	            <div class="item">
	               <a href="#"> <img src="5.jpg" alt="The Sombrero Galaxy"></a>
	               <div class="carousel-caption left">
                        <h3>The Sombrero Galaxy (M104)</h3>
                        <p>The galaxy is 50,000 light-years across and 28 million light years from Earth.</p>
                     </div>
	            </div>
	            <div class="item">
	               <a href="#"> <img src="6.jpg" alt="Spiral galaxy NGC 6503"></a>
	               <div class="carousel-caption left">
                        <h3>Spiral galaxy NGC 6503</h3>
                        <p>Spiral galaxy NGC 6503 is in a lonely position, at the edge of a strangely empty patch of space called the Local Void.</p>
                     </div>
                </div>
                <div class="item">
	               <a href="#"> <img src="7.jpg" alt="Monkey Head Nebula: NGC 2174"></a>
	               <div class="carousel-caption left">
                        <h3>Monkey Head Nebula: NGC 2174</h3>
                        <p>The Monkey Head Nebula (also known as NGC 2174) is a star-forming region in which bright, newborn stars near the center of the nebula illuminate the surrounding gas with energetic radiation. </p>
                     </div>
                </div>
	        </div>
	        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	            <span class="glyphicon glyphicon-chevron-left"></span>
	            <span class="sr-only">Next</span>
	        </a>
	        <a class="right carousel-control" href="#myCarousel" data-slide="next">
	            <span class="glyphicon glyphicon-chevron-right"></span>
	            <span class="sr-only">Next</span>
	        </a>
        </div>
        <!--carousel gallery  END--->
        {{>footer}}
	</body>
</html>
