<!doctype html>

<html>
	{{>head}}
	<body>
	{{>header}}
        <nav class=" navbar-inverse">
          <div class="container-fluid">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
            <div class="collapse navbar-collapse" id="myNavbar">
             <ul class="nav navbar-nav">
                 <li><a href="/">Home</a></li>
                 <li><a href="/images">Images</a></li>
                 <li class="active"><a href="/video">Video</a></li>
                <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Explore
                      <span class="caret"></span>
                   </a>
                   <ul class="dropdown-menu">
                       <li><a href="/hubble">Hubble Essentials</a></li>
                       <li><a href="#">The Technology</a></li>
                       <li><a href="https://en.wikipedia.org/wiki/Edwin_Hubble">About Edwin Hubble</a></li>
                   </ul>
                </li>
             </ul>
            </div>
        </div>
     </nav>
       <section>
          <div class="container-fluid centerVideo">
          <div>
           <iframe class="col-lg-7 col-xs-12" height="480" src="https://www.youtube.com/embed/q0P2-qcos90" frameborder="0" allowfullscreen></iframe>
           <h4>Hubble: Galaxies Across Space and Time<br/><small>
              This award-winning short film transforms images and data from NASA's Hubble Space Telescope into a voyage that sweeps viewers across the universe and back into cosmic history.
           </small>
           </h4>
           </div>
        </div>
       </section>
       <section>
           <div class="container-fluid videoList">
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/fR_apYF0eBs" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Perspectives on Spiral Galaxies: NGC 4302 and NGC 4298<br/><br/>
                   <small>Spiral galaxies are pancake-shaped collections of billions of stars, along with vast clouds of gas and dust. This video illustrates how their observed shapes can differ greatly depending upon the angle at which they are observed. The spiral galaxies NGC 4302 (left) and NGC 4298 (right) are visualized in three dimensions and rotated to showcase how they might look if viewed from other perspectives. Each galaxy could be seen as a roughly circular face-on spiral, as a long, thin, edge-on spiral, or as any of the oblong shapes in between.<br/>

                   The galaxy models are based on observations by the Hubble and Spitzer space telescopes, as well as on the statistical properties of galaxies. Because NGC 4302 is seen nearly edge on, and its structure is not well-defined, its model was based upon observations of the spiral galaxy Messier 51.
                   </small>
                    </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/MBGP5DMNlSo" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Blast Wave from a Stellar Explosion: Simulation of Supernova 1987A<br/><br/>
                   <small>This scientific visualization shows the development of Supernova 1987A, from the initial blast observed three decades ago to the luminous ring of material we see today.<br/>

                   The sequence, using data from a computer simulation, begins with the star before it exploded. A ring of material around the star was expelled about 20,000 years before the supernova outburst. A flash of light signals the stellar explosion. The supernova sends a blast wave outward from the dying star. As the blast wave slams into the ring, high-density knots of material become intensely heated and glow brightly, while lower-density gas is blown outward. The computer simulation provides one data set per year, and thus the visualization steps between them at four years per second. Upon reaching the present day, the time development is halted, and the camera circles around the ring to showcase its structure.


                   </small>
                   </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/iNJXgMNSxNo" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Globular Star Cluster Exploration [Dome Version]<br/><br/>
                   <small>This scientific visualization presents a flight to a small globular star cluster and a few hundred thousand years of its development. Globular star clusters contain many thousands to millions of stars all orbiting around their common center of gravity. During the flight to and around the globular star cluster, time has been stopped to allow one to examine the structure of the cluster. After arrival, the stars begin their swarming orbits.<br/>

                   The visualization uses data from a simulation that followed the orbits of 6144 stars using the special purpose supercomputer GRAPE-4. This small globular star cluster is simulated in its early stages, with the sample of stars drawn from a zero-age main sequence. Hence, there are many more blue stars than would be found in a typical old globular cluster. The star brightnesses are calculated and calibrated to approximate what the human eye would see. The colors are a bit exaggerated in an attempt to compensate for desaturation during dome projection. For context, the globular cluster is placed within a random star field taken from the Yale Bright Star Catalog. The piece of the simulation shown here covers about 122 thousand years of the star cluster’s development. Time passes at a rate of about 2350 years per second, which corresponds to 78 years per frame at 30 frames per second.
                   </small>
                   </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/96YLkY-N0o4" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>The Red Bubble: Supernova Remnant SNR 0509-67.5<br/><br/>
                   <small>This movie presents a visualization of the supernova remnant known as SNR 0509-67.5. The delicate sphere of gas, photographed by NASA's Hubble Space Telescope, is the result of gas that is being shocked by the expanding blast wave from a supernova. The bubble is the visible remnant of a powerful stellar explosion in the Large Magellanic Cloud (LMC), a small galaxy about 160,000 light-years from Earth. Ripples in the shell's surface may be caused by either subtle variations in the density of the ambient interstellar gas, or possibly driven from the interior by pieces of the ejecta. The bubble-shaped shroud of gas is 23 light-years across and is expanding at more than 11 million miles per hour (5,000 kilometers per second).<br/>

                   The unique three-dimensional view of the visualization reminds us that the objects in Hubble images are not all at the same distance, but rather spread across light-years of space. The stars and the shell of glowing gas from the Hubble two-dimensional image have been separated using both scientific knowledge and artistic license to create the depth in the movie. Of note, the relative distances between stars and the nebula have been greatly compressed.
                   </small>
                   </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/V6_0HlwMdvs" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Hubble: Galaxies Across Space and Time [Captioned]<br/><br/>
                   <small>This is the captioned version of the film.<br/><br/>

                   This award-winning short film transforms images and data from NASA's Hubble Space Telescope into a voyage that sweeps viewers across the universe and back into cosmic history.<br/>

                   The film opens with looming images of two mature galaxies that are relatively nearby Earth, and then pans through the vibrant and diverse panorama of thousands of galaxies in an image from the Great Observatories Origins Deep Survey. The ensuing 3-D journey through these galaxies provides more than just a new perspective in space; it also takes the audience back in time. Because light takes time to journey across space, the galaxies farther away from Earth are seen further back in cosmic history. The virtual voyage reveals galaxies as they appeared billions of years ago, when they were still in the process of forming.
                   <br/>
                   Originally released as an IMAX film, "Hubble: Galaxies Across Space and Time" was named "Best Short Film" of 2004 by the Large Format Cinema Association.
                   </small>
                   </h4>
                   </div>
               </div>
                          <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/teJ01WXYp6M" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>The Bubble Nebula: Winds & Radiation from a Massive Star<br/><br/>
                   <small>This visualization of the Bubble Nebula begins with a ground-based view that encompasses the glowing cloud. The high-energy light from the massive O star, BD +60°2522, is responsible for ionizing the entire region. The virtual camera flies through the foreground stars and approaches the central bubble imaged by Hubble. The massive star continuously sheds some of its outer layers in a mass-loss wind, which has blown a bubble of gas seven light-years across. The video's three-dimensional perspective emphasizes the extended nature of the structure and the fact that BD +60°2522 is not located at the center. The pressure inside the bubble is able to expand more rapidly in the directions away from the surrounding nebula. The computer model incorporates both scientific and artistic interpretation of the data. In particular, distances are significantly compressed.
                   </small>
                   </h4>
                   </div>
               </div>
                          <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/ygevBQWt_LE" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Zoom into the Center of Our Galaxy<br/><br/>
                   <small>This video sequence zooms into the Hubble Space Telescope view of the galactic core. Hubble's infrared vision pierced the dusty heart of our Milky Way galaxy to reveal more than half a million stars at its core. Except for a few blue, foreground stars, the stars are part of the Milky Way's nuclear star cluster, the most massive and densest stellar cluster in our galaxy. Located 27,000 light-years away, this region is so packed with stars, it is equivalent to having a million suns crammed into the volume of space between us and our closest stellar neighbor, Alpha Centauri, 4.3 light-years away. At the very hub of our galaxy, this star cluster surrounds the Milky Way's central supermassive black hole, which is about 4 million times the mass of our sun.
                   </small>
                   </h4>
                   </div>
               </div>
           </div>
           <div class="container-fluid pages">
           <ul class="pagination">
               <li class="active"><a href="#">1</a></li>
               <li><a href="/video_page_2">2</a></li>
               <li><a href="/video_page_3">3</a></li>
               <li><a href="/video_page_4">4</a></li>
               </ul>
            </div>
       </section>
        {{>footer}}
	</body>
</html>
