<!doctype html>

<html>
	{{>head}}
	<body>
	{{>header}}
        <nav class=" navbar-inverse">
          <div class="container-fluid">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
            <div class="collapse navbar-collapse" id="myNavbar">
             <ul class="nav navbar-nav">
                 <li><a href="/">Home</a></li>
                 <li><a href="/images">Images</a></li>
                 <li class="active"><a href="/video">Video</a></li>
                <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Explore
                      <span class="caret"></span>
                   </a>
                   <ul class="dropdown-menu">
                       <li><a href="/hubble">Hubble Essentials</a></li>
                       <li><a href="#">The Technology</a></li>
                       <li><a href="#">About Hubble</a></li>
                   </ul>
                </li>
             </ul>
            </div>
        </div>
     </nav>
       <section>
          <div class="container-fluid centerVideo">
          <div>
           <iframe class="col-lg-7 col-xs-12" height="480" src="https://www.youtube.com/embed/q0P2-qcos90" frameborder="0" allowfullscreen></iframe>
           <h4>Hubble: Galaxies Across Space and Time<br/><small>
              This award-winning short film transforms images and data from NASA's Hubble Space Telescope into a voyage that sweeps viewers across the universe and back into cosmic history.
           </small>
           </h4>
           </div>
        </div>
       </section>
       <section>
           <div class="container-fluid videoList">
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/C-PXrs-T6MM" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Science Visualization of Moons Crossing the Face of Saturn<br/><br/>
                   <small>Saturn is famous for the intriguing rings that encircle it. As Saturn orbits the Sun, though, our view of its rings changes. Roughly every 15 years (halfway through Saturn’s almost-30-year orbit), Saturn’s rings appear edge-on, sometimes seeming to disappear altogether. Because many of Saturn’s moons orbit the planet in the same plane as the rings, they appear to cross in front of the planet during this time. On February 24, 2009, when Saturn’s rings were nearly edge-on, Hubble tracked four of Saturn’s moons as they passed across the face of the giant ringed planet.
                   </small>
                    </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/kYhmwT_NJzU" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Celestial Fireworks: Star Cluster Westerlund 2<br/><br/>
                   <small>The nebula Gum 29 is a star-forming region about 20,000 light-years away in the constellation of Carina. At the core of the nebula is a cluster of several thousand stars called Westerlund 2. These newborn stars are approximately 2 million years old, and their light illuminates, heats, and erodes the surrounding gas. The Hubble image, utilizing both visible and infrared light observations, was released in celebration of the telescope's 25th anniversary.
                   <br/><br/>
                   This visualization provides a three-dimensional perspective on the nebula and star cluster. The flight traverses the foreground stars and approaches the lower left rim of the nebula. Passing through the wispy darker clouds on the near side, the journey reveals bright gas illuminated by the intense radiation of the newly formed star cluster. Within the nebula, several pillars of dark, dense gas are being shaped by the energetic light and strong stellar winds from the brilliant cluster of thousands of stars. Note that the visualization is intended only as a scientifically reasonable interpretation and that distances within the model are significantly compressed.
                   </small>
                   </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/ktwIbcrQBX8" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Evaporating Peaks: Pillars in the Monkey Head Nebula<br/><br/>
                   <small>The Monkey Head Nebula (also known as NGC 2174) is a star-forming region in which bright, newborn stars near the center of the nebula illuminate the surrounding gas with energetic radiation. This radiation, along with strong stellar winds, erodes away the lower density gas. Pockets of higher density gas resist this erosion, and form pillars and peaks along the inner edge of the roughly circular cloud.
                   <br/><br/>
                   This video showcases visible and infrared light views of a collection of pillars along one edge of the nebula. The sequence begins with a view of the night sky near the constellation of Gemini and Orion. The view zooms through observations from the Digitized Sky Survey 2 to reveal a Hubble Space Telescope visible light view of the top of this region of pillars.
                   </small>
                   </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/YzfbOECnuQg" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Celestial Snow Angel: Star-forming Region Sharpless 2-106<br/><br/>
                   <small>The star-forming region Sharpless 2-106 (S106) has a bi-polar shape that, in a December 2011 Hubble press release, was likened to a "celestial snow angel". The "wings" of the nebula are actually bubbles of hot gas created by stellar winds and high energy radiation coming from a massive, hot, newborn star in the center. A ring of dense gas and dust encircles that star and forces the outflows into two oppositely directed lobes. The blue light in the S106 image represents hotter gas along the interior of the lobes, while the red light comes from cooler gas along the exterior.
                   </small>
                   </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/drTtTsevWBs" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>A Horse of a Different Color<br/><br/>
                   <small>The Horsehead Nebula is a dark cloud of dense gas and dust located just below the belt of Orion on the sky. A visible light view shows a strong silhouette resembling the horse's head used for a knight in chess. Infrared light, however, reveals a more complex scene, as shown in Hubble's 2013 image. The warm parts of the clouds glow in infrared light, plus longer infrared wavelengths can penetrate deeper into the clouds. A dark and relatively featureless scene is revealed as a glowing gaseous landscape.
                   </small>
                   </h4>
                   </div>
               </div>
                          <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/PBqWy4uTUh8" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Active Galaxy Hercules A: Visible & Radio Comparison<br/><br/>
                   <small>The active galaxy Hercules A was given that name because it is the brightest radio source in the constellation of Hercules. Astronomers found that the double-peaked radio emission corresponded to a giant elliptical galaxy cataloged as 3C 348. Unusually, this behemoth galaxy is not found within a large cluster of hundreds of galaxies, but rather within a comparatively small group of dozens of galaxies. The 'active' part of the galaxy is the supermassive black hole in its core, which spews out strong jets of energetic particles that produce enormous lobes of radio emission. Some astronomers suspect that Hercules A may be the result of two galaxies merging together.
                   </small>
                   </h4>
                   </div>
               </div>
                          <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/UTmStdmE6o4" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Cosmic eXploration: Hubble eXtreme Deep Field<br/><br/>
                   <small>In 2004, the Hubble Ultra Deep Field (HUDF) provided a ground-breaking view of distant galaxies. In 2009, those data were augmented with new infrared observations to create the HUDF-IR. In 2012, the Hubble eXtreme Deep Field (HXDF) combined those images along with a complete census of archival datasets to see yet farther into the universe. The HXDF contains roughly 5,500 galaxies stretching over 13 billion light-years of space, and represents astronomy's deepest view into the cosmos.
                   </small>
                   </h4>
                   </div>
               </div>
           </div>
           <div class="container-fluid pages">
           <ul class="pagination">
               <li><a href="/video">1</a></li>
               <li><a href="/video_page_2">2</a></li>
               <li class="active"><a href="/video_page_3">3</a></li>
               <li><a href="/video_page_4">4</a></li>
               </ul>
            </div>
       </section>
        {{>footer}}
	</body>
</html>
