<!doctype html>

<html>
	{{>head}}
	<body>
	{{>header}}
        <nav class=" navbar-inverse">
          <div class="container-fluid">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
            <div class="collapse navbar-collapse" id="myNavbar">
             <ul class="nav navbar-nav">
                 <li><a href="/">Home</a></li>
                 <li><a href="/images">Images</a></li>
                 <li class="active"><a href="/video">Video</a></li>
                <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Explore
                      <span class="caret"></span>
                   </a>
                   <ul class="dropdown-menu">
                       <li><a href="/hubble">Hubble Essentials</a></li>
                       <li><a href="#">The Technology</a></li>
                       <li><a href="#">About Hubble</a></li>
                   </ul>
                </li>
             </ul>
            </div>
        </div>
     </nav>
       <section>
          <div class="container-fluid centerVideo">
          <div>
           <iframe class="col-lg-7 col-xs-12" height="480" src="https://www.youtube.com/embed/q0P2-qcos90" frameborder="0" allowfullscreen></iframe>
           <h4>Hubble: Galaxies Across Space and Time<br/><small>
              This award-winning short film transforms images and data from NASA's Hubble Space Telescope into a voyage that sweeps viewers across the universe and back into cosmic history.
           </small>
           </h4>
           </div>
        </div>
       </section>
       <section>
           <div class="container-fluid videoList">
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/a9bZ1_YtKWg" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Cruising the Cosmic Web, V2 [Dome Version]<br/><br/>
                   <small>This visualization of a computer simulation showcases the ‘cosmic web’, the large scale structure of the universe. Each bright knot is an entire galaxy, while the purple filaments show where material exists between the galaxies. To the human eye, only the galaxies would be visible, and this visualization allows us to see the strands of material connecting the galaxies and forming the cosmic web.
                   </small>
                    </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/QcDtJ_-jdMw" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>A Galactic Smash Hit: Galaxy Collision Simulation<br/><br/>
                   <small>In this visualization of a computer simulation, two spiral galaxies are set on a collision course. As one slices through the other, both are disrupted. The tidal forces of gravity produce long tails of material streaming away from the collision. The central regions relatively quickly fall together and merge.
                   <br/><br/>
                   The visualization is based on a supercomputer simulation, which calculated the motions of 262,144 particles under the forces of gravity and hydrodynamics. The gas particles are shown in blue and the stars in yellow. Each particle is visualized with a size corresponding to its effective size in the calculation. A background field of galaxies was added to provide camera motion clues and astronomical context. The simulation covers roughly 1.5 billion years of the collision.
                   </small>
                   </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/tSO8evHlafA" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>The Great Photon Escape<br/><br/>
                   <small>In a flash known as the Big Bang, our universe was born. Yet for hundreds of thousands of years, light from the Big Bang was scattered and trapped in a dense fog. Eventually, though, that light made its “great escape” and the universe was plunged into total darkness. These cosmic “Dark Ages” lasted for millions of years until the first stars and galaxies burst to life and began to illuminate the universe. However, no one knows just when this happened or what the earliest stars and galaxies were really like, because we’ve never seen them.<br/>
                   <br/>
                   NASA’s James Webb Space Telescope, currently under construction and due to launch in 2018, will use its powerful infrared vision to spy the very first stars and galaxies forming out of the darkness of the early universe and help us understand how today’s universe came to be.


                   </small>
                   </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/YWrUhvI7L8I" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Celestial Lightsabers: Stellar Jets in HH24<br/><br/>
                   <small>Herbig-Haro objects showcase the long thin jets of emission that emanate from newborn stars. This sequence combines a two-dimensional zoom and a three-dimensional flight to explore Hubble’s striking image of the Herbig-Haro object known as HH24. The movie starts with a night sky view of the Orion constellation and zooms in. Located above the left side of Orion’s Belt is the vast dark nebula called the Orion B molecular cloud complex. Within this molecular cloud are many bright regions where stars are forming. This video closes in toward one particularly energetic example.<br/>
                   <br/>
                   The movie then switches to an envisioned three-dimensional perspective. As the virtual camera flies into the dark nebula, the stars pass off-screen and the details of the forming stars and their jets of emission are revealed. The central star is hidden by gas and dust, but its prominent twin jets of emission resemble a cosmic, double-bladed lightsaber. The emission from the star has carved an hourglass-shaped cavity in the near side of the nebula. The jet from another stellar newborn in this region has created a cylindrical tunnel through the gas extending to the left. Careful study of the Hubble data reveals a few other jets heating and displacing the gas and dust around them. The nebula provides a vivid example of a gas cloud shaped by stellar emission.
                   </small>
                   </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/0pGfPaA_Cqo" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Vibrant Gaseous Ribbons: The Veil Supernova Remnant<br/><br/>
                   <small>This 3-D visualization flies across a small portion of the Veil Nebula as photographed by the Hubble Space Telescope. This region is a small part of a huge expanding remnant from a star that exploded many thousands of years ago. Hubble resolves tangled rope-like filaments of glowing gases. They have been shocked and heated by colliding with cooler, denser interstellar gas.<br/>
                   <br/>
                   The 3-D model has been created for illustrative purposes and shows that the giant bubble of gas has a thin, rippled surface. It also highlights that the emission from different chemical elements arises from different layers of gas within the nebula. In the imagery, emission from Sulfur, Hydrogen, and Oxygen are shown in red, green, and blue, respectively.
                   </small>
                   </h4>
                   </div>
               </div>
                          <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/oVFc-UzYPXI" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Zoom into and Pan of the Sombrero Galaxy<br/><br/>
                   <small>Resembling a wide-brimmed hat with a tall bulge at the center, galaxy M104 is nicknamed the Sombrero Galaxy. We see the galaxy, 50,000 light-years wide, nearly edge-on, so the dark dust in its pancake-like disk appears to bisect a large, white, rounded core of stars. Roughly 29 million light-years away, the Sombrero can be spotted with a modest telescope in the constellation Virgo.
                   </small>
                   </h4>
                   </div>
               </div>
                          <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/GjzTM6xEyJM" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Fly-through of the Orion Nebula<br/><br/>
                   <small>The Orion Nebula is a roiling region of dust and gas where thousands of stars are being born. Located 1,300 light-years away, it is the nearest area of star formation to Earth. More than 3,000 stars of various sizes reside in a dramatic landscape of plateaus, mountains, and valleys.
                   <br/><br/>
                   This scientific visualization takes the viewer across interstellar space and into a 3D model of the Orion Nebula. After traversing among the stars, the camera descends through Orion’s veil of bluish gas, down the valley carved by winds and high-energy radiation, and past the bright stars of the trapezium in the core of the nebula. The 3D model combines astronomical knowledge, scientific intuition, and artistic interpretation to create an awe-inspiring journey into the star-forming cloud.
                   </small>
                   </h4>
                   </div>
               </div>
           </div>
           <div class="container-fluid pages">
           <ul class="pagination">
               <li><a href="/video">1</a></li>
               <li class="active"><a href="/video_page_2">2</a></li>
               <li><a href="/video_page_3">3</a></li>
               <li><a href="/video_page_4">4</a></li>
               </ul>
            </div>
       </section>
        {{>footer}}
	</body>
</html>
