<!doctype html>

<html>
{{>head}}
	<body>
	{{>header}}
        <nav class=" navbar-inverse">
          <div class="container-fluid">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
            <div class="collapse navbar-collapse" id="myNavbar">
             <ul class="nav navbar-nav">
                 <li><a href="/">Home</a></li>
                 <li><a href="/images">Images</a></li>
                 <li class="active"><a href="/video">Video</a></li>
                <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     Explore
                      <span class="caret"></span>
                   </a>
                   <ul class="dropdown-menu">
                       <li><a href="h">Hubble Essentials</a></li>
                       <li><a href="#">The Technology</a></li>
                       <li><a href="#">About Hubble</a></li>
                   </ul>
                </li>
             </ul>
            </div>
        </div>
     </nav>
       <section>
          <div class="container-fluid centerVideo">
          <div>
           <iframe class="col-lg-7 col-xs-12" height="480" src="https://www.youtube.com/embed/q0P2-qcos90" frameborder="0" allowfullscreen></iframe>
           <h4>Hubble: Galaxies Across Space and Time<br/><small>
              This award-winning short film transforms images and data from NASA's Hubble Space Telescope into a voyage that sweeps viewers across the universe and back into cosmic history.
           </small>
           </h4>
           </div>
        </div>
       </section>
       <section>
           <div class="container-fluid videoList">
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/nSxMXFC2aQA" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Mystic Mountain: Bright Pillar in the Carina Nebula<br/><br/>
                   <small>The Carina Nebula is a vast, star-forming region in our Milky Way Galaxy. Within the nebula, new stars form out of dense, dark clouds of gas and dust. The bright, high-energy radiation from massive young stars erodes away the dark gas. Tall pillars, such as the ones featured in this sequence, form when dense pockets of gas resist that erosion. The illuminating stars for these pillars are located well off the top of the image. At the peaks of two pillars, jets of emission serve as the birth announcements of new stars buried within the clouds. The image is nicknamed "Mystic Mountain" and was released in celebration of the 20th anniversary of the launch of the Hubble Space Telescope.
                   <br/><br/>
                   Like most astronomical objects, the Carina Nebula is too far away for the Hubble Space Telescope to see in a three-dimensional perspective. This scientific visualization separates the stars and layers of the nebula to create depth from the 2D image. A virtual camera flies into the resulting 3D model, which is informed by astronomical knowledge but is not scientifically accurate. Distances, in particular, have been greatly compressed.
                   </small>
                    </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/C0XNyTp5brM" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Galaxy Collisions: Simulation vs Observations<br/><br/>
                   <small>Galaxies are vast swarms of billions of stars along with huge interstellar clouds of gas and dust. A spiral galaxy has a broad, thin disk shape, with a bulge of stars in its core, Within the disk are winding arms of dark dust lanes and bright star-forming regions, This structure is stable when left alone, but is relatively easily disturbed when another galaxy passes near. Astronomers have studied galaxy interactions for decades, and Hubble's keen vision has been particularly useful for examining new details.
                   <br/><br/>
                   A 2008 Hubble press release unveiled 59 images of galaxy interactions. Each image, however, captures only one moment in a billion-year-long collision process. This visualization of a galaxy collision supercomputer simulation shows the entire collision sequence, and compares the different stages of the collision to different interacting galaxy pairs observed by Hubble. The two spiral galaxies in the simulation distort, twist, and merge together, matching different images at different times and different viewing angles. With this combination of research simulations and high resolution observations, these titanic crashes can be better illustrated and understood.
                   </small>
                   </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/1ekzgnn_iIw" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Star Clusters in Collision<br/><br/>
                   <small>TThe dense star cluster called R136 is located within the Tarantula Nebula (also known as 30 Doradus), a giant star-forming region in a nearby dwarf galaxy. Astronomers suspect that the multiple clumps of stars within R136 are actually a pair of interacting star clusters. Supporting evidence for this idea comes from the large number of "runaway stars" -- stars moving with unusually high velocity -- that have been found within the nebula. A single, large star cluster would not produce as many runaway stars as two smaller interacting star clusters. In addition, some of these runaway stars are older than the estimated age of R136.
                   <br/><br/>
                   This computer simulation shows the gravitational interaction of two young star clusters. The 3.5 million years of the encounter have been compressed into just 27 seconds. The smaller star cluster approaches from the left, has its trajectory bent strongly as it swings by the larger cluster, and then returns for a second pass. The visualization then zooms in and dissolves to a Hubble Space Telescope image of star cluster R136. After a partial zoom out, the sequence continues forward in time to show the clusters merging into a single cluster.
                   </small>
                   </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/5n9WgXv02gQ" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Zoom into M83<br/><br/>
                   <small>Zoom into barred spiral galaxy M83, also known as the Southern Pinwheel, located 15 million light-years away. Pan across billions of stars in the galaxy at various stages of life spread across 50,000 light-years.
                   <br/><br/>
                   Spiral galaxy M83 is located in the constellation Hydra. A “starburst” galaxy, M83 is considerably smaller than our own galaxy but is producing stars at a much faster rate. The pink clouds of hydrogen gas that dot the galaxy’s spiral arms are the nurseries where new stars are being born. The blue, grainy clumps mixed in with these star-forming regions are clusters of hot, young stars that have blown away the surrounding gas with their fierce ultraviolet radiation. Some of these young stars are only about a million years old. The yellow glow closer to the center of the galaxy comes from these more mature stars that have lived for 100 million years or more.
                   </small>
                   </h4>
                   </div>
               </div>
               <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/FOhT_kps2GM" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Zoom into the Massive Galaxy Cluster Abell 2744<br/><br/>
                   <small>Abell 2744, also known as Pandora’s Cluster, is located in the constellation Sculptor. The cluster is about 4 million light-years across and has the mass of 4 trillion suns. It appears to be the result of a simultaneous pile-up of at least four separate, smaller galaxy clusters that took place over a span of 350 million years.
                   <br/><br/>
                   The Hubble observation of Abell 2744 used in this video is part of the Frontier Fields program. The program combines the power of space telescopes with nature's own "gravitational lensing" to peer deeper into the universe than ever before.
                   </small>
                   </h4>
                   </div>
               </div>
                          <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/JhBRbq287FQ" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Zoom into Planetary Nebula NGC 5189<br/><br/>
                   <small>Glide into the region of sky containing planetary nebula NGC 5189. Located 1800 light-years away in the southern constellation Musca, NGC 5189 has a knotty and filamentary structure surrounding bluish lobes.
                   <br/><br/>
                   Planetary nebulae represent the final brief stage in the life of a medium-sized star like our Sun. While consuming the last of the fuel in its core, the dying star expels a large portion of its outer envelope. This material is then illuminated by the ultraviolet radiation from the stellar remnant, producing glowing clouds of gas that can show complex structure.
                   </small>
                   </h4>
                   </div>
               </div>
                          <div class="video col-xs-12">
                   <iframe class="col-lg-4 col-sm-8 col-xs-12" height="270" src="https://www.youtube.com/embed/-WoLSL3EDEs" frameborder="0" allowfullscreen></iframe>
                   <div class="text col-lg-8 col-sm-8 col-xs-12">
                   <h4>Crash of the Titans: Milky Way & Andromeda Collision [Annotated]<br/><br/>
                   <small>This visualization is the annotated version of "Crash of the Titans". It includes the running time and galaxy identifications.
                   <br/><br/>
                   The three largest galaxies in our Local Group of Galaxies are our Milky Way along with the Andromeda (also known as Messier 31) and Triangulum (also known as Messier 33) galaxies. This scientific visualization of a computer simulation depicts their joint evolution over the next several billion years and features the inevitable massive collision between the Milky Way and Andromeda. Hubble Space Telescope observations indicate that the two galaxies, pulled together by their mutual gravity, will crash together in a head-on collision about 4 billion years from now. The thin disk shapes of these spiral galaxies are strongly distorted and irrevocably transformed by the encounter. Around 6 billion years from now, the two galaxies will merge to form a single elliptical galaxy. The Triangulum galaxy continues to orbit the merged pair through the end of this computer simulation, though other computer models show it becoming part of the collision.
                   </small>
                   </h4>
                   </div>
               </div>
           </div>
           <div class="container-fluid pages">
           <ul class="pagination">
               <li><a href="/video">1</a></li>
               <li><a href="/video_page_2">2</a></li>
               <li><a href="/video_page_3">3</a></li>
               <li class="active"><a href="/video_page_4">4</a></li>
               </ul>
            </div>
       </section>
        {{>footer}}
	</body>
</html>
